#mainNav {
  background-color: #0d47a1; }

#navInput {
  margin-top: 9px; }

.logoContainer {
  font-size: 1.6em; }

.logoContainer a {
  color: #bbdefb; }

#navInputBtn {
  margin-top: 8px; }

.navbar-header {
  margin-left: 1em; }

#navPlane {
  margin-top: 30px; }

#loginPgHeader {
  margin-bottom: 50px; }

#loginGoogle {
  padding: 12px;
  width: 165px; }

.login-btn {
  margin: 6px;
  min-width: 75px;
  color: white;
  background-color: #26a69a;
  border-color: #26a69a;
  border-radius: 5px;
  padding: 9px; }

#nav-logo {
  margin-left: 1em; }

.login-btn:hover {
  background-color: lightgrey;
  border-color: lightgrey;
  color: black; }

.login-input-group {
  margin-top: 10px;
  margin-bottom: 5px; }

#login-pg {
  background-color: #e3f2fd;
  color: #546e7a;
  display: block;
  text-align: center;
  width: 90%;
  height: 90%;
  text-align: center;
  display: block;
  border-radius: 3px;
  margin: 30px 5% auto 5%;
  padding: 20px; }

.loginPgInput {
  color: #546e7a;
  display: inline;
  text-align: left; }

body {
  background-color: #64b5f6; }

#ng-view {
  background-color: #64b5f6; }

#event-list {
  margin-left: 15%;
  margin-right: 15%; }

.event-card {
  margin: 1em;
  display: inline;
  list-style-type: none;
  background-color: #eceff1;
  border-radius: 5px;
  box-shadow: 3px 3px 3px; }

.event-card h1 {
  font-size: 2.5em; }

.eventCardDetailLine {
  margin-top: 4em;
  font-size: 1.5em;
  font-weight: 1px; }

.eventCardDetailLine i {
  margin: 0 .5em 1em .3em; }

#eventFormHeader h3 {
  margin-bottom: 25px;
  font-size: 1.5em;
  margin-left: 1em; }

hr {
  margin-top: 10px;
  margin-bottom: 1px;
  border-top: 1px solid grey; }

.passengerHeading {
  font-size: 20px;
  margin-top: 10px; }

.search-input {
  margin: 3em 10em 1.5em 10em;
  background-color: #e3f2fd;
  border-radius: 2px;
  box-shadow: 2px 2px 2px; }

.flightListBtnDiv {
  margin-top: 10px; }

.flightListBtnDiv a {
  margin-right: 7px; }

.flight-card {
  display: inline;
  list-style-type: none;
  background-color: #e3f2fd;
  border-radius: 5px;
  padding-bottom: 10px !important;
  padding-top: 20px !important;
  box-shadow: 3px 3px 3px; }

.flight-card p {
  line-height: 2.8em; }

.pax-card-info p {
  display: inline;
  font-size: 1.2em; }

.flight-card h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  line-height: 1em;
  margin-top: 0; }

.flight-card a {
  margin-bottom: 0px;
  padding: 0px;
  line-height: 1em; }

.pax-card-info {
  display: inline; }

.flight-card:hover {
  background-color: #e0f7fa;
  box-shadow: 5px 5px 5px; }

#flightList-container {
  margin-left: 5%;
  margin-right: 5%; }

.deleteFlightBtn {
  display: block;
  float: right; }

.infoListBtn {
  color: white;
  background-color: #4db6ac; }

.updateStatusBtn {
  color: white;
  background-color: #01579b; }

.updateStatusBtn:hover {
  background-color: grey; }

#flightDetailsTitle {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-left: 1em; }

#flightDetailBtnDiv {
  margin-top: 15px; }

#flightDetailBtnDiv a {
  margin-right: 10px; }

.detail-icons {
  background-color: black;
  border-radius: 5px;
  width: 27px;
  height: 29px; }

#flightDetailsContainer {
  margin: 3% 5% auto 5%;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  padding: 15px;
  background-color: #e3f2fd;
  box-shadow: 3px 3px 3px; }

#flightDetailsContainer h5 {
  font-size: 1.2em;
  margin-left: 1em;
  margin-bottom: 1em; }

#flightDetailsContainer h6 {
  margin-left: 1em; }

#flightDetailsContainer h3 {
  color: #546e7a;
  font-size: 2.5em;
  margin: 0 auto 0 .4em; }

.fightDetailHeaderIcon {
  margin-top: 10px; }

.flightFormLabel {
  font-size: 17px;
  color: #546e7a; }

.flightFormLabel i {
  font-size: 11px;
  color: #90a4ae; }

.flightFormNote i {
  font-size: 11px;
  color: lightgrey; }

#flight-form {
  margin-left: 5%;
  margin-right: 5%; }

#firstRow {
  margin-top: 30px; }

.flight-form {
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  background-color: #e3f2fd;
  padding: 10px;
  padding-top: 30px;
  box-shadow: 3px 3px 3px; }

#flight-form h3 {
  font-size: 1.5em; }

#flightFormHeader {
  margin-bottom: 25px; }

#flightFormBtn {
  margin-bottom: 2em !important;
  margin-left: 2em; }

#eventContainer {
  margin-left: 5%;
  margin-right: 5%; }

#eventDetailsContainer {
  margin: 5% 5% auto 5%;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  padding: 15px;
  background-color: #e3f2fd;
  box-shadow: 3px 3px 3px; }

#event-form {
  margin: 30px 5% auto 5%;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  background-color: #e3f2fd;
  padding: 10px;
  padding-top: 30px;
  box-shadow: 3px 3px 3px; }

#event-form h1 {
  font-size: 2.5em; }

/*# sourceMappingURL=main.css.map */
