body {

}

#mainNav {
	background-color: #0d47a1;
}

#navInput {
	margin-top: 9px;
}

#navInputBtn {
	margin-top: 8px;
}

.navbar-header {
	margin-left: 1em;
}

#navPlane {
	margin-top: 30px;
}

// LOGIN PARTIAL

#loginGoogle {
	padding: 12px;
	width: 165px;
}

.login-btn {
	margin: 6px;
	min-width: 75px;
	color: white;
	background-color: #26a69a;
   border-color: #26a69a;
   border-radius: 5px;
   padding: 9px;

}

#nav-logo {
	margin-left: 1em;
}

.login-btn:hover {
	background-color: lightgrey;
	border-color: lightgrey;
	color: black;
}

.login-input-group {
	margin-top: 10px;
	margin-bottom: 5px;
}

#login-pg {
	background-color: #f5f5f5;
	display: block;
	text-align: center;
	width: 30%;
	height: 75%;
	text-align: center;
	display: block;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	margin: 30px 35% auto 35%;
	padding: 20px;
}

// NG-VIEW

body {
	background-color: #64b5f6;
}

#ng-view {
	background-color: #64b5f6;
}

// EVENT LIST

#event-list {
	margin-left: 5%;
	margin-right: 5%;
}

.trip-card {
	margin: 1em;
	display: inline;
	list-style-type: none;
	background-color: #eceff1;
	border-radius: 5px;

}

// FLIGHT LIST

hr {
	margin-top: 10px;
	margin-bottom: 1px;
	border-top: 1px solid grey;
}

.passengerHeading {
	font-size: 20px;
	margin-top: 10px;
}

.search-input {
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 1.5em;
	background-color: #e3f2fd;
	border-radius: 2px;
}

// FLIGHT CARD



.flight-card {
	display: inline;
	list-style-type: none;
	background-color: #eceff1;
	border-radius: 5px;
	padding-bottom: 10px !important;
}

.flight-card h1 {
	font-size: 2.5em;
}

.pax-card-info {
	display: inline;
}

.flight-card:hover {
	background-color: #e0e0e0;
}

#flightList-container {
	margin-left: 5%;
	margin-right: 5%;
}

.deleteFlightBtn {
	display: block;
	float: right;
}

// FLIGHT DETAILS

.detail-icons {
	background-color: black;
	border-radius: 5px;
	width: 27px;
	height: 29px;
}

#flightDetailsContainer {
	margin: 5% 10% auto 10%;
	border: 1px solid #e3f2fd;
	border-radius: 5px;
	padding: 15px;
	background-color: #e3f2fd;
}

#flightDetailsContainer h5 {
	font-size: 1.2em;
	margin-left: 1em;
	margin-bottom: 1em;
}

#flightDetailsContainer h6 {
	margin-left: 1em;
}

#flightDetailsHeader h3 {
	font-size: 2.5em;
	margin-left: 1em;
}

// FLIGHT FORM

#flight-form {
	margin-left: 5%;
	margin-right: 5%;
}

#firstRow {
	margin-top: 30px;
}

.flight-form {
	border: 1px solid #e3f2fd;
	border-radius: 5px;
	background-color: #e3f2fd;	
	padding: 10px;
	padding-top: 30px;
}

#flight-form h3 {
	font-size: 1.5em;
}

#flightFormBtn {
	margin-bottom: 2em !important;
	margin-left: 2em;
}

// EVENT FORM

#event-form {
	margin-left: 30%;
	margin-right: 30%;
	// border: 1px solid black;
}