<!-- add module to angular -->
<script>
var chat = angular.module( 'BasicChat', ['chat'] );
</script>

<!-- configuration -->
<script>
angular.module('chat').constant('config', {
    rltm: {
        service: "pubnub",
        config: {
            publishKey: "pub-c-9d025bf8-f350-4cd8-a93c-dfeff021ae67",
            subscribeKey: "sub-c-69c47912-0e68-11e7-9734-02ee2ddab7fe"
        }
    }
});
</script>

<!-- controller -->
<script>
chat.controller( 'chat', [ 'Messages', '$scope', function( Messages, $scope, ChatFactory, AuthFactory, $location, $routeParams ) {
    // Message Inbox
    $scope.messages = [];
    // Receive Messages
    Messages.receive(function(message) {
        $scope.messages.push(message);
    });
    // Send Messages
    $scope.send = function() {
        Messages.send({ 
            data: $scope.textbox 
        });
    };
}]);
</script>

<!-- view -->
<div ng-app="BasicChat">
    <div ng-controller="chat">
        <div ng-repeat="message in messages">
            <strong>{{message.user.name}}:</strong>
            <span>{{message.data}}</span>
        </div>
        <form ng-submit="send()">
            <input ng-model="textbox">
        </form>
    </div>
</div>