<!-- START SEARCH BAR -->
<div class="search-input" class="col s10">  
    <div class="nav-wrapper">
      <form>
        <div class="input-field"><!--  ng-touched="false"> -->
          <input id="search" type="search" ng-model="searchText.search" placeholder="Search events">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END SEARCH BAR -->

   <div id="eventContainer" class="row">
   	<div ng-repeat="event in events" class="col s12 event-card">
   		<h1>
        <a ng-href="#!/events/{{event.id}}">{{event.title}}</a>
      </h1>
   		
      <i class="material-icons">location_on</i>
      
      <i>*{{event.startDate | date:'shortDate'}} through {{event.endDate | date:'shortDate'}}</i>
         <p>Location: {{event.location}}</p>
         <p>Area Airports: {{event.airports}}</p>
   	</div>
   </div>
</div>