    <div id="eventDetailsContainer">
        <div id="eventDetailsHeader">
            <h1>{{selectedEvent.title}}</h1>
             <hr>
            <br>
            <h3>Dates: {{selectedEvent.startDate  | date:'shortDate'}} through {{selectedEvent.endDate  | date:'shortDate'}}</h3>  
            <h3>Location: {{selectedEvent.location}}</h3>  
            <h3>Airports: {{selectedEvent.airports}}</h3> 
        </div>
       

    <a class="btn-floating btn-large waves-effect waves-light green" ng-href="#!/events/{{selectedEvent.id}}/edit">
        <i class="material-icons">mode_edit</i>
    </a>

    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="eventDelete(selectedEvent.id)">
        <i class="material-icons">delete</i>
    </a>

</div>