<div class="center locationHeaderDiv">
  <a class="waves-effect waves-light btn-large"><i class="material-icons right">date_range</i>My Events</a>
</div>

<!-- START SEARCH BAR -->
<div class="search-input" class="col s10">  
    <div class="nav-wrapper">
      <form>
        <div class="input-field"><!--  ng-touched="false"> -->
          <input id="search" type="search" ng-model="searchText.search" placeholder="Search your events">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END SEARCH BAR -->

   <div id="eventContainer" class="row">
   	<div ng-repeat="event in events | orderBy:'startDate' | filter:searchText.search" class="col s12 event-card">
   		<h1>
        <a ng-href="#!/events/{{event.id}}">{{event.title}}</a>
      </h1>
   		
      <b class="eventCardDetailLine">
        <i class="eventCardIcon material-icons">date_range</i>{{event.startDate | date:'fullDate'}} through {{event.endDate | date:'fullDate'}}
      </b>
      <br>
         
      <b class="eventCardDetailLine">
        <i class="eventCardIcon material-icons">location_on</i>{{event.location}}
      </b>
      <br>
      
      <b class="eventCardDetailLine">
        <i class="eventCardIcon material-icons">local_airport</i>{{event.airports}}
      </b>
   	
    </div>
   </div>
</div>