<div id="flight-form">
   <div id="flightFormHeader">
      <br><h3>{{title}}</h3>
      <i>*Note: FlightCrew currently only supports 2017 flight dates</i><br>
   </div>
   
   <form class="flight-form col s12">
      <div id="firstRow" class="row">
         <input-field class="col s6">
            <!-- <label for="flight_date">Flight date</label>
            <input id="flight_date" type="date" class="datepicker" ng-model="newFlight.date" min="2017-03-15"> -->
            <label class="flightFormLabel" for="flight_month">Month of Flight <i> (enter value 1-12)</i></label>
            <input type="number" name="flight_month" ng-model="newFlight.arrMonth">
         </input-field>
         <input-field class="col s6">
            <label class="flightFormLabel" for="flight_month">Day of Flight <i> (enter value 1-31)</i></label>
            <input type="number" name="flight_month" ng-model="newFlight.arrDay">
         </input-field>
         
        <!--  <div class="input-field col s6">
            <label>Choose Event</label>
            <select ng-model="newFlight.eventId">
               <option ng-repeat="event in events" value="{{event.id}}">{{event.title}}</option>
            </select>            
         </div> -->
      </div>

      <div class="row">
         <input-field class="col s6">
            <label class="flightFormLabel" for="airline">Airline<i> (enter 2 digit airline code - ex: AA for American Airlines)</i></label>
            <input id="airline" type="text" class="form-control" ng-model="newFlight.airlineCode" required>
            <a class="flightFormNoteLink" target="_blank" href="http://www.airfarewatchdog.com/pages/3799702/airline-letter-codes/"><i>See a full list of airline codes here</i></a>    
         </input-field>
         <input-field class="col s6">
            <label class="flightFormLabel" for="flight_num">Flight Number</label>
            <input id="flight_num" type="number" class="form-control" ng-model="newFlight.flightNumber" required>
         </input-field>
      </div>

      <!-- <div class="row">
         <input-field class="col s6">
            <label class="flightFormLabel" for="dep_airport">Departing Airport<i> (enter 3 digit airport code - ex: ATL for Atlanta)</i></label>
            <input id="dep_airport" type="text" class="form-control" ng-model="newFlight.depAirport" required>
            <a class="flightFormNoteLink" target="_blank" href="http://www.airportcodes.org/"><i>See a full list of airport codes here</i></a>
         </input-field>  
         <input-field class="col s6">
            <label class="flightFormLabel" for="arr_airport">Arrival Airport<i> (enter 3 digit airport code - ex: ATL for Atlanta)</i></label>
            <input id="arr_airport" type="text" ng-model="newFlight.arrAirport" required>
         </input-field>
      </div> -->   

      <div class="row">
      <input-field class="col s6">
            <label class="flightFormLabel" for="first_contact_name">Primary Contact Name</label>
            <input id="first_contact_name" type="text" ng-model="newFlight.firstContactName" required>
      </input-field>
      <input-field class="col s6">      
            <label class="flightFormLabel" for="first_contact_num">Primary Contact Cell Phone #</label>
            <input id="first_contact_num" type="tel" ng-model="newFlight.firstContactNum" required>
      </input-field>   
      </div>

       <input-field class="col s6">
         <label class="flightFormLabel" for="second_contact_name">Secondary Contact Name</label>
         <input id="second_contact_name" type="text" class="form-control" ng-model="newFlight.secondContactName" required>
      </input-field>
      <input-field class="col s6">   
         <label class="flightFormLabel" for="second_contact_num">Secondary Contact Cell Phone #</label>
         <input id="second_contact_num" type="tel" ng-model="newFlight.secondContactNum" required>
      </input-field>

      <div class="row">
         <input-field class="col s6">
            <label class="flightFormLabel" for="num_pax">Total Number of passengers on flight</label>
            <input id="num_pax" type="number" ng-model="newFlight.numPax" required>
         </input-field>
      </div>
                     
      <button id="flightFormBtn" class="btn waves-effect waves-light" type="submit" name="action" ng-click="addNewFlight()">{{btnText}}
         <i class="material-icons right">send</i>
      </button>
   </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>