 <div class="center locationHeaderDiv">
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">airplanemode_active</i>Flight Details</a>
</div>

<div id="flightDetailsContainer">
    <div id="flightDetailsHeader">
        <h3>{{selectedFlight.airlineName}} Flight # {{selectedFlight.flightNumber}} | {{selectedFlight.depAirport}}<i class="material-icons">arrow_forward</i>{{selectedFlight.arrAirport}}</h3>
        <br>

        <h3>{{selectedFlight.arrDate | date:'fullDate'}}</h3>

    </div>
        
    <hr>

    <ul class="list-group">

        <!-- FLIGHT AND ARRIVAL DETAIL SECTION -->
        <div class="material-icons large fightDetailHeaderIcon">query_builder</div><br>
        
        <h5><strong>Current Departure Time from {{selectedFlight.depAirport}}:</strong> {{selectedFlight.depTime  | date:'shortTime'}}</h5>
        
        <h5><strong>Current Arrival Time at {{selectedFlight.arrAirport}}:</strong> {{selectedFlight.arrTime  | date:'shortTime'}}</h5>
        
        <h5><strong>Arrival Terminal<!-- {{selectedFlight.arrAirport}} -->: {{selectedFlight.arrTerm}}</strong></h5><br>
        <!-- <a>TODO: Link to arrival airport map</a> -->
        <hr>
        
        <!-- PASSENGER DETAIL SECTION -->        
        <div class="material-icons large fightDetailHeaderIcon">perm_identity</div><br>

        <h5><strong>Total Number of Passengers:</strong> {{selectedFlight.numPax}}</h5>

        <h4><strong>*Primary Passenger Contact:</strong> {{selectedFlight.firstContactName}} 
            <a ng-href="tel:+1{{selectedFlight.firstContactNum}}">(tel #: {{selectedFlight.firstContactNum}})
                <a class="btn-floating btn-small waves-effect waves-light green" ng-href="tel:+1{{selectedFlight.firstContactNum}}">
                    <i class="material-icons">call</i>
                </a>
            </a>
        </h4>

        <h4><strong>*Secondary Passenger Contact:</strong> {{selectedFlight.secondContactName}}
            <a ng-href="tel:+1{{selectedFlight.secondContactNum}}">(tel #: {{selectedFlight.secondContactNum}}) 
                <a class="btn-floating btn-small waves-effect waves-light green" ng-href="tel:+1{{selectedFlight.secondContactNum}}">
                    <i class="material-icons">call</i>
                </a>
            </a>
        </h4>
    </ul>

    <hr>

    <!-- EDIT, UPDATE AND DELETE BTNS FOR SELECTED FLIGHT -->           

    <div id="flightDetailBtnDiv">

        <a class="btn tooltipped btn-floating btn-large waves-effect waves-light" data-position="bottom" data-delay="50" data-tooltip="Refresh Flight Info" ng-click="flightUpdate(selectedFlight)">
            <i class="material-icons updateStatusBtn btn-floating btn-large waves-effect waves-light">track_changes</i>
        </a>

        <a class="btn-floating btn-large waves-effect waves-light teal lighten-1" ng-href="#!/flights/{{selectedFlight.id}}/edit">
            <i class="material-icons">mode_edit</i>
        </a>

        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="flightDelete(selectedFlight.id)">
            <i class="material-icons">delete</i>
        </a>

    </div>

</div>