<!-- START FLIGHTLIST SEARCH BAR -->
<div class="search-input" class="col s10">	
    <div class="nav-wrapper">
      <form>
        <div class="input-field"><!--  ng-touched="false"> -->
          <input id="search" type="search" ng-model="searchText.search" placeholder="Search flights">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
   	</div>
	</div>
</div>
<!-- END FLIGHTLIST SEARCH BAR -->

<!-- TEMPLATE AND LOOP FOR LIST OF FLIHT CARDS -->
 <div id="flightList-container">
	<div class="flight-card row" ng-repeat="flight in flights | orderBy:'arrTime' | filter:searchText.search">
		<ul class="flight-card col s12">

			<h1><a ng-href="#!/flights/{{flight.id}}">{{flight.airlineName}} Flight # {{flight.flightNumber}} |
			{{flight.depAirport}}<i class="material-icons">arrow_forward</i>{{flight.arrAirport}}</a></h1>
			
			<!-- <i class="material-icons large ">date_range</i> -->
			<h1>{{flight.arrDate | date:'fullDate'}}</h1>

			<!-- <div class="material-icons large ">query_builder</div> -->
			<i class="passengerHeading">*Departs from {{flight.depAirport}} at {{flight.depTime | date:'shortTime'}}</i>
			<i class="passengerHeading">	|	</i>
			<i class="passengerHeading">Arrives to {{flight.arrAirport}} at {{flight.arrTime | date:'shortTime'}}</i>
			<br>
			<hr>

			<div class="material-icons large ">info_outline</div><br>
<!-- <b class="passengerHeading">Current Status: {{flight.status}}</b><br> -->
			<b class="passengerHeading">Arrival Terminal: {{flight.arrTerm}}</b><br>

			<div class="pax-card-info row">
				<b class="passengerHeading">Total Number of Passengers: {{flight.numPax}}</b><br>
				
				<p>Primary Contact: {{flight.firstContactName}} 
					<a ng-href="tel:+1{{flight.firstContactNum}}">(tel #: {{flight.firstContactNum}}) 
	        			<a class="btn-floating btn-small waves-effect waves-light green" ng-href="tel:+1{{flight.firstContactNum}}">
	            		<i class="material-icons">call</i>
	            	</a>
        			</a>
        		</p>
			
				<br>

				<p>Secondary Contact: {{flight.secondContactName}} 
					<a ng-href="tel:+1{{flight.secondContactNum}}">(tel #: {{flight.secondContactNum}}) 
	        			<a class="btn-floating btn-small waves-effect waves-light green" ng-href="tel:+1{{flight.secondContactNum}}">
	            		<i class="material-icons">call</i>
	            	</a>
        			</a>
        		</p>
			
			</div>
			<hr>
			
			<div class="flightListBtnDiv">
				<a class="btn-floating infoListBtn btn-large waves-effect waves-light" 	ng-href="#!/flights/{{flight.id}}">
	        		<i class="material-icons infoListBtn btn-floating btn-large waves-effect waves-light teal">view_module</i>
	    		</a>
	    		
<!-- 	    		<a class="btn-floating infoListBtn btn-large waves-effect waves-light"	ng-click="flightUpdate(flight)">
	        		<i class="material-icons updateStatusBtn btn-floating btn-large waves-effect waves-light">track_changes</i>
	    		</a> -->
	    		
	    		<a class="btn-floating btnChecked btn-large waves-effect waves-light blue" ng-click="flightDelete(flight.id)">
            	<i class="material-icons">done</i>
        		</a>
    		</div>
 		
 		</ul>
		
	</div>
</div>		