<div class="row">
  <div id="login-pg" class="col s12 text-right">
    <section id="auth-form" class="auth-form">

      <!-- <div class="material-icons large ">airplanemode_active</div><br> -->
      <img id="loginPgIcon" src="img/flight.png"></img>
      <h3 id="loginPgHeader">Welcome to FlightCrew</h3>
      <h5 id="loginPgHeader">Please Login/Register</h5>
        
      <div class="row">
          <i class="col s2"></i>
          <div class="input-field loginPgInput col s4">
            <input id="email" class="validate loginPgInput" type="email" ng-model="account.email">
            <label for="email">Email</label>
          </div>
        <div class="input-field loginPgInput col s4">
          <input id="password" class="validate loginPgInput" type="password" ng-model="account.password">
          <label for="password">Password</label>
        </div>
        <div class="col s2"></div>
      </div>    
        
      <div>
        <a class="waves-effect waves-light login-btn" ng-click="login()">Login</a>
        <a class="waves-effect waves-light login-btn" ng-click="register()">Register</a>
        <br>
        <a id="loginGoogle" class="waves-effect waves-light login-btn" ng-click="loginGoogle()">Login with Google</a>
      </div>
    </section>
  </div>
</div>

