<nav class="button-collapse" id="mainNav">
    <div class="nav-wrapper" ng-controller="NavCtrl">
    
    <div class="left logoContainer">
      <a href="#!/flights/list" id="nav-logo" class="navbar-brand material-icons">airplanemode_active</a>
      <a class="navbar-brand" ng-href="#!/flights/list">FlightCrew</a> 
    </div>  
      
     <!--  HAMBURGER ICON -->
<!--       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
 -->
      <ul class="right"> <!-- hide-on-med-and-down"> -->
          <li ng-show="!isLoggedIn"><a ng-href="#/login">Welcome to FlightCrew, Please Login</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/flights/list">My Flights</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/events/list">My Events</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/flights/new">New Flight</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/events/new">New Event</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/messages/list">Messages</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/events">Logout</a></li>
      </ul>
<!--       <ul class="side-nav" id="mobile-demo">
       <li ng-show="!isLoggedIn"><a ng-href="#/login">Welcome to FlightCrew, Please Login</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/flights/list">My Flights</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/events/list">My Events</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/flights/new">New Flight</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/events/new">New Event</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/messages/list">Messages</a></li>
          <li ng-show="isLoggedIn"><a ng-href="#!/events">Logout</a></li>
      </ul> -->
    </div>
</nav>

  